{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">จำนวนสมาชิกทั้งหมด</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="text-white"><i class="fas fa-users"></i>  {{members}}  คน</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">จำนวนรออนุมัติ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="text-white"><i class="fas fa-user-check"></i>  {{pending_count}}  คน</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">จำนวนอนุมัติ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="text-white"><i class="fas fa-user-check"></i>  {{approve_count}}  คน</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">จำนวนไม่อนุมัติ</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="text-white"><i class="fas fa-user-check"></i>  {{rejects_count}}  คน</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
