{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">แบบฟอร์มใบลา</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">กรุณากรอกข้อมูลการลา</li>
    </ol>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.emp_id | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.leave_type_name | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.leave_department_name | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.leave_reason | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.start_date | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.end_date | as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ form.leave_amount | as_crispy_field }}
                </div>
                <div class="mb-3">
                    <label for="upload" class="form-label">อัพโหลดไฟล์*</label>
                    <input type="file" class="form-control" id="upload" name="upload">
                    <div class="small">อัพโหลดไฟล์ jpg, jpeg, png, pdf</div>
                </div>
                <div class="mb-3">
                    {{ form.leave_contact | as_crispy_field }}
                </div>
                <button type="submit" class="btn btn-outline-primary mb-4">บันทึก</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}