{% extends 'base.html' %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">สถิติการลา</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>รหัสพนักงาน</th>
                        <th>ประเภทการลา</th>
                        <th>จำนวนวันลา</th>
                        <th>วันลาคงเหลือ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for showdata in result %}
                    <tr>
                        <td>{{showdata.user}}</td>
                        <td>{{showdata.emp_id}}</td>
                        <td>{{showdata.LeaveType}}</td>
                        <td>{{showdata.LeaveDay}}</td>
                        <td>{{showdata.RemainingLeaveDays}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}